Repository dhbw-ma-ppp/ppp-2024, pull requests merged in 2024-12, with the labels that each got.

#63 KevinSiess_excercise05
  Exercises/Kevin Siess/KevinSiess_exercises_05.py
Labels: exercise-05

#70 Exercise06/LaraBachmann
  Exercises/LaraBachmann/exercises_06.py
Labels: exercise-06

#88 Shreeya_task_07
  Exercises/Shreeya, Tulabandula/task_07.py
Labels: exercise-07

#102 Elias/Exercises
  Exercises/Elias Becker/exercise_1.py
  Exercises/Elias Becker/exercise_2.py
Labels: exercise-01

#78 finished exercise07
  Exercises/SoerenHerrmann/exercises_07.py
Labels: exercise-07

#65 Soeren herrmann/exercises 06
  .gitignore
  Exercises/SoerenHerrmann/exercises_06.py
Labels: exercise-06

#100 Justus Exercise_08
  Exercises/Justus Exercises/Justus Exercise_08.py
Labels: exercise-08

#83 Justus Exercises_07
  Exercises/Justus Exercises/Justus Exercises_07.py
Labels: exercise-07

#79 LinusLausberg/Exercise07
  Exercises/LinusLausberg/exercises_07.py
Labels: exercise-07

#94 Exercises08/LinusLausberg
  Exercises/LinusLausberg/exercises_08.py
Labels: exercise-08
