Repository dhbw-ma-ppp/ppp-2024, pull requests merged in 2024-11, with the labels that each got.

#16 LinusLausberg/Exercise02
  Exercises/LinusLausberg/exercises_02.py
Labels: exercise-02

#30 Exercise03/Lara (resulting count of 1306)
  Exercises/LaraBachmann/exercises_03.py
Labels: exercise-03

#28 finished Exercise 03. My solution is 1306
  Exercises/SoerenHerrmann/exercises_03.py
Labels: exercise-03

#8 ShreeyaAufgabe1
  Exercises/Shreeya, Tulabandula/11.10 PPP excercises.py
Labels: exercise-01

#38 shreeya_03
  Exercises/Shreeya, Tulabandula/task_03.py
Labels: exercise-03

#31 LinusLausberg/Exercises03
  Exercises/LinusLausberg/exercises_03.py
Labels: exercise-03

#27 Philipp Schöneberg Abgabe 3
  Exercises/Philipp Schöneberg/exercises_03_solved.py
Labels: exercise-03

#45 Philipp Schöneberg Abgabe 4
  Exercises/Philipp Schöneberg/exercises_04_solved.py
Labels: exercise-04

#46 KevinSiess_exercises_04 (16694270)
  Exercises/Kevin Siess/KevinSiess_exercises_04.py
Labels: exercise-04

#29 Kevin Siess_ Abgabe_03_(resulting count: 1306)
  Exercises/Kevin Siess/KevinSiess_exercises_01.py
  Exercises/Kevin Siess/KevinSiess_exercises_03.py
Labels: exercise-03

#37 Justus/exercise03 (1306)
  Exercises/Justus Exercises/Justus Exercises_03.py
Labels: exercise-03

#51 Justus/exercise04
  Exercises/Justus Exercises/Justus Exercises_04.py
Labels: exercise-04

#41 Exercises04/LinusLausberg
  Exercises/LinusLausberg/exercises_04.py
Labels: exercise-04

#62 Philipp Schöneberg Abgabe 5
  Exercises/Philipp Schöneberg/exercises_05_solved.py
  Exercises/Philipp Schöneberg/input_bags.txt
  Exercises/Philipp Schöneberg/input_sequence.txt
Labels: exercise-05

#43 Exercise04/Lara (output of 16694270)
  Exercises/LaraBachmann/exercises_04.py
Labels: exercise-04

#34 Adrian Erdmann Abgabe 03
  Exercises/AdrianErdmann/exercises_03AE.py
Labels: exercise-03

#36 KiraWildeExercise_03 (count = 1306)
  Exercises/KiraWilde/KiraWildeExercise_03.py
Labels: exercise-03

#48 Create KiraWildeExercises_04.py
  Exercises/KiraWilde/KiraWildeExercises_04.py
Labels: exercise-04

#23 Create KiraWildeExercise02
  Exercises/KiraWilde/KiraWildeExercise02.py
Labels: exercise-02

#55 LinusLausberg/exercises05
  Exercises/LinusLausberg/exercises_05.py
Labels: exercise-05

#76 shreeya_task_06
  Exercises/Shreeya, Tulabandula/task_06.py
Labels: exercise-06

#58 task_05_shreeya
  Exercises/Shreeya, Tulabandula/task_05.py
Labels: exercise-05

#52 excercise-4-shreeya
  Exercises/Shreeya, Tulabandula/task_04_shreeya.py
Labels: exercise-04

#53 Exercise05/LaraBachmann
  Exercises/LaraBachmann/exercises_05.py
Labels: exercise-05

#72 Philipp Schöneberg Abgabe 6
  Exercises/Philipp Schöneberg/exercises_06_solved.py
  Exercises/Philipp Schöneberg/input_memory_01.txt
Labels: exercise-06

#42 SoerenHerrmann/exercise_04
  Exercises/SoerenHerrmann/exercises_04.py
Labels: exercise-04

#73 Justus Exercises_06 / My Output is 33343
  Exercises/Justus Exercises/Justus Exercises_06.py
Labels: exercise-06
